# Example Config file - change and save in ~/config.yaml
rowsberrypi:
   email_host: 'your.host.com'
   email_port: '587'
   email_use_tls: True
   email_host_user: 'yourlogin@yourhost.com'
   email_host_password: 'yourpassword'
   email_from_address: 'roosendaalsander@gmail.com'
   email_recipients: ['workouts@rowsandall.com','roosendaalsander@gmail.com']
